@import "bootstrap";

html {
  padding-top: 70px;
}

.output .latest p {
  color: #5b5b5b;
}
.output .latest h3 {
  color: purple;
}

.output h3,
.output p {
  color: #9C9898;
}

h1 {
  color: orange;
}
